## Deliverable 3. Create a Travel Itinerary Map.

In [57]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [58]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Ushuaia,AR,46.40,-54.80,-68.30,Albatros Hotel
1,1,Sitka,US,48.20,57.05,-135.33,Westmark Sitka
2,9,Ngorongoro,TZ,53.04,-3.24,35.49,Simba Special Campsite B
3,11,Camana,PE,61.88,-16.62,-72.71,Hostal Morales
4,16,Port Hardy,CA,46.40,50.70,-127.42,Airport Inn

In [59]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [60]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Southbridge")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Southbridge")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Westport")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Broome")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Bethel")]

In [71]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat', 'Lng']].to_numpy()[0]
end = vacation_end[['Lat', 'Lng']].to_numpy()[0]
stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()[0]
stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()[0]
stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()[0]

def convert(list):
    return tuple(list)
print(convert(start))
print(convert(end))
print(convert(stop1))
print(convert(stop2))
print(convert(stop3))

(42.08, -72.03)
(42.08, -72.03)
(41.14, -73.36)
(42.25, -75.83)
(41.37, -73.41)

In [72]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index = "true")
itinerary_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,290,Southbridge,US,52.0,42.08,-72.03,Southbridge Hotel & Conference Center
1,411,Westport,US,63.0,41.14,-73.36,The Westport Inn
2,164,Broome,US,55.4,42.25,-75.83,Chenango Valley State Park
3,91,Bethel,US,59.0,41.37,-73.41,Courtyard by Marriott Danbury

In [77]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))